body {
    font-family: var(--sans-serif);
    font-size: var(--corps);
    color : var(--gris-noir);
    line-height: 1.6;
    background-color: var(--gris-blanc-dominant);
    margin : 15px;
  }

h1{
  font-family: var(--font-family);
}