.header{
    background-color: var(--coul-bleu-fonce);
    top : 0;
    right : 0;
    height: 100px;
    width: 100%;
    position : fixed;
    border-bottom: 15px solid var(--coul-bleu-clair);
    z-index: 1;
}

.header__items{
    position: fixed;
    display: flex;
}

.header__logo{
    display: flex;
    padding-top: 50px;
    margin-right: 170px;
    padding-left: 30px;
}

.header__langueFR{
    display: flex;
    padding-top: 40px;
    padding-right: 5px;
}

.header__langueEN{
    padding-top: 40px;
    padding-left: 8px;

}

.header__separateur{
    padding-top: 40px;
}

.header__menubtn{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 30px;
    height: auto;
}

