.header{
    background-color: var(--coul-bleu-fonce);
    position : fixed;
    top : 0;
    height: 100px;
    width: 100%;
    display: flex;
}

.header__logo{
    display: block;
    padding: 50px 45px 0px 35px;
}

.header__fr{
    padding-left : 50px;
}

.header__menu{
    padding-top: 35px;
    padding-left: 35px; 
}

