.menu__principal{
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: calc(100% - 80px);

    background-color: var(--coul-bleu-clair);

}

.menu__principal--titre{ 
    color: var(--gris-blanc-dominant);
    font-size: var(--corps);
}

.menu__principal--liste{
    list-style: none;
    padding-left:0;
}

.menu__principal--lien{
    color: var(--gris-blanc-dominant);
    font-size: var(--petit-texte-lien);
    text-decoration: none;
}

