.header__menu{
    position: fixed;
    margin-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    place-content: center;
    background-color: var(--coul-bleu-clair);
    border-radius:  0px 0px 160px 240px / 0px 0px 56px 64px;

}

.menu-principal__titre{ 
    color: var(--gris-blanc-dominant);
    font-size: var(--corps);
}

.header__menuListe{
    margin-top: 2px;
    list-style: none;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 30px;
}

.header__menuTitreArticle{
    margin-bottom: 2px;
    color: var(--gris-blanc-dominant);
    font-size: var(--h2);
    text-decoration: none;
}

.header__menuTitrePlus{
    margin-bottom: 2px;
    color: var(--gris-blanc-dominant);
    font-size: var(--h2);
    text-decoration: none;
}
        
.header__menuLienArticle{
    
    color: var(--gris-blanc-dominant);
    font-size: var(--bouton);
    text-decoration: none;
}